<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="collegeDB" connectionString="Data Source=localhost;integrated security=SSPI;initial catalog=SanjeevanDB;"/>
    <!--<add name="LucidEdge" connectionString="data source=localhost;integrated security=false;initial catalog=wwwinfom_SalunkheDB;user id=wwwinfom_koustubhAdmin;password=homoeoClinic@2018;" />-->
  </connectionStrings>
</configuration>
